<%= form_with(model: [post, comment]) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5 p-5 bg-white rounded-lg w-full">
    <%= form.rich_text_area :body %>
  </div>
  <div class="inline">
    <%= form.submit submit_label, class: "btn btn-primary" %>
  </div>
<% end %>